{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="copyright" content="&copy; 2020 Michael P&ouml;hn" />
    <title>{% block title %}F-Droid Metrics{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="static/bootstrap/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/icon/180.png"/>
    <link rel="icon" type="image/png" sizes="48x48" href="static/icon/48.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="static/icon/32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="static/icon/16.png"/>
    <link rel="shortcut icon" href="static/icon/48.ico"/>
  </head>
  <body>
    <div id="site-wrapper" class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="main-heading">
            <a href="/">
              <img id="logo" src="static/icon/180.png" />
              F-Droid Metrics
            </a>
          </h1>
        </div>
        <div class="col-12">
	  <ul>
	    {% for domain in domains %}
	    <li>
	      <a href="https://{{ CI_PROJECT_NAMESPACE }}.gitlab.io/metrics/{{ domain }}/index.json">{{ domain }}</a>
	    </li>
	    {% endfor %}
	  </ul>
        </div>
      </div>
    </div>
    <footer id="site-footer" class="container">
      <div class="row">
        <div class="col-12">
          <i>
            F-Droid Metrics,
            &copy; 2020 The F-Droid Team,
            AGPL-3.0-or-later
            (<a href="https://gitlab.com/fdroid/metrics">source code</a>)
          </i>
        </div>
      </div>
    </footer>
  </body>
</html>
